html, body {
    background-color: darkgray;
}

.index {
    background-image: repeating-linear-gradient(to right, rgb(255, 0, 0), rgb(255, 255, 0), rgb(0, 255, 0), rgb(0, 255, 255), rgb(0, 0, 255), rgb(255, 0, 255), rgb(255, 0, 0));
    background-size: 50% 50%;
    animation-name: move;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes move {
    0% {
        background-position: right;
    }
    100% {
        background-position: left;
    }
}

.box {
    margin-left: 0.5vw;
    padding-top: 20vh;
    width: 49%;
    display: inline-block;
    text-align: center;
    height: 50vh;
    border: 2px solid black;
}

.text {
    color: black;
    font-size: 50px;
    text-decoration: none;
}

#summer {
    background-image: url("img/ocmd.jpg");
    background-size: cover;
}

#goals {
    background-image: url("img/trophy.png");
    background-size: cover;
}

.back {
    background-image: url("img/exist.png");
    background-size: cover;
}

#youll-never-see-this-h6-tag {
    color: #a8a8a8;
}